// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.adminPage {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 25px 10px;
}

.menu-list {
    padding: 15px 20px;
    overflow: hidden;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    li {
        padding-bottom: 8px;
    }
}

.admin-content {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
}
